<html> 
    <head> 
    	<title>Paper Airplane Adventures</title>
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<script src="/scripts/index.js"></script>
	    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
		
    </head> 
    <body > 
    	<div class="homepage"> 
    		<div class="logo">
	    		<h1 style="color: #FFF"> Sorry. Something went wrong. </h1>
	    	</div>
    	</div>
    </body> 
</html>

<!-- https://api.instagram.com/v1/users/self?access_token=tokenval  -->
