<html> 
    <head> 
    	<title>Paper Airplane Adventures</title>
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<script src="/scripts/feed.js"></script>
	    <link rel="stylesheet" type="text/css" href="/css/feed.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		
    </head> 
    <body > 
        <div class="content">
            <div class="logo">
                <span class="glyphicon glyphicon-send"></span>
                <span class="site-title"> Paper Airplane Adventures </span>
                <span class="viewCount"> </span> 
            </div>
        </div>
        <div id="pictures">
            </div>
    </body> 
</html>

<!-- https://api.instagram.com/v1/users/self?access_token=tokenval  -->
