<html> 
    <head> 
    	<title>Paper Airplane Adventures</title>
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="/scripts/index.js"></script>
	    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
		
    </head> 
    <body > 
    	<div class="homepage"> 
    		<div class="logo">
                <span class="glyphicon glyphicon-send"></span>
                <div class="outline">
                
	    		    <h1 style="color: #8B3636"> PAPER AIRPLANE</h1>
                    <h2 style="color: #A53434"> ADVENTURES </h2>
                </div>
	    	</div>
	    	<button id="instagramLogin"> Login with Instagram </button>

            <a class="download-link" href="https://play.google.com/store/apps/details?id=com.org.android.paperairplaneadventures">
                <div class="download-button">
                    <img src="http://developer.android.com/images/brand/en_app_rgb_wo_45.png" alt="Play Logo"/>

                </div>
            </a>
    	</div>
    </body> 
</html>

<!-- https://api.instagram.com/v1/users/self?access_token=tokenval  -->
